<!DOCTYPE html 
	  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <title>JBrowse</title>
    <%= stylesheet_link_tag "/jbrowse/jslib/dijit/themes/tundra/tundra.css" %>
    <%= stylesheet_link_tag "/jbrowse/jslib/dojo/resources/dojo.css" %>
    <%= stylesheet_link_tag "/jbrowse/genome.css" %>

    <style type="text/css">
      html, body { height: 100%; width: 100%; padding: 0; border: 0; }
    </style>

    <%= javascript_include_tag "/jbrowse/jslib/dojo/dojo.js", :djConfig => "isDebug: false" %>
    <%= javascript_include_tag "/jbrowse/jslib/dojo/jbrowse_dojo.js" %>

    <%= javascript_include_tag "/jbrowse/js/Browser.js" %>
    <%= javascript_include_tag "/jbrowse/js/Util.js" %>
    <%= javascript_include_tag "/jbrowse/js/NCList.js" %>
    <%= javascript_include_tag "/jbrowse/js/LazyPatricia.js" %>
    <%= javascript_include_tag "/jbrowse/js/Track.js" %>
    <%= javascript_include_tag "/jbrowse/js/SequenceTrack.js" %>
    <%= javascript_include_tag "/jbrowse/js/FeatureTrack.js" %>
    <%= javascript_include_tag "/jbrowse/js/StaticTrack.js" %>
    <%= javascript_include_tag "/jbrowse/js/ImageTrack.js" %>
    <%= javascript_include_tag "/jbrowse/js/GenomeView.js" %>
    <!--<%= javascript_include_tag "/jbrowse/data/refSeqs.js" %> This line needs to be fixed/set once we have genome management sorted out -->
    <%= javascript_include_tag url_for(:controller => "jbrowse_views", :id => @id, :action => "show") %>

    <script type="text/javascript">
    /* <![CDATA[ */
           var queryParams = dojo.queryToObject(window.location.search.slice(1));
           var bookmarkCallback = function(brwsr) {
               return window.location.protocol
                      + "//" + window.location.host
                      + window.location.pathname
                      + "?loc=" + brwsr.visibleRegion()
                      + "&tracks=" + brwsr.visibleTracks();
           }
           var b = new Browser({
                                   containerID: "GenomeBrowser",
                                   dataRoot: dataRoot,
                                   browserRoot: browserRoot,
                                   refSeqs: refSeqs,
                                   trackData: trackInfo,
                                   defaultTracks: "DNA,gene,mRNA,noncodingRNA",
                                   location: queryParams.loc,
                                   tracks: queryParams.tracks,
                                   bookmark: bookmarkCallback
                               });
    /* ]]> */
    </script>
  </head>
  
  <body>
    <div id="GenomeBrowser" style="height: 100%; width: 100%; padding: 0; border: 0;"></div>
  </body>
</html>
